/* mainstyle.css */

/* Color Palette */
:root {
	--div-bg-color: #6047a3; /* main color of the div elements */
	--bg-color: #2f293d; /* dark background color */ 
	--fg-color: #f0eaff; /* light foreground color */
	--disable-color: #484451; /* Unsaturated color for disabled elements/fonts */
}

/* reset all margins and padding values */
* {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--fg-color);
}

body {
	font-family: sans-serif;
	font-weight: bold;
	background-color: var(--disable-color);
}

div {
	background-color: var(--div-bg-color);
	padding: 16px;
	float: left;
}

.block {
	padding: 0px;
	width: 100%;
}

.icon-link a, a:link, a:visited, a:focus, a:hover, a:active {
	color: var(--fg-color);
	text-decoration:none;
}

.title {
	font-size: 22px;
}

.col-head {
	width: 100px;
	text-align: center;
}

.icon-head {
	width: 50px !important;
}

.icon-box {
	float:right !important;
	width: 50px !important;
	height: 21px !important;
}

.table {
	background-color: var(--bg-color);
	overflow-x: hidden;
	overflow-y: scroll;
}

.data-box , .data-row{
	background-color: var(--bg-color);
	padding: 0px;
	font-size: 0;
}

.text-box {
	background-color: var(--disable-color);
	border-width: 0;
	font-weight: bold;
	text-align: center;
	width: 100px;
	padding: 16px;
}

.add-box {
	background-color:transparent;
}

.dark-icon {
	color: var(--disable-color);
}

.purple-icon {
	color: var(--div-bg-color);
}

.icon-link {
	vertical-align:  sub;
}

.total {
	float: right;
}
